/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2017, 00:54:58
    Author     : taiQui
*/

.root {
    -fx-background-image: url("./IMG/img1ica.jpg");
}

#btnincar {
     -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-font-size: 22px;
}


#btndecision{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-font-size: 22px;
}

#btnpreventif{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-font-size: 22px;
    
}

#text_prison {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 1, 0.0 , 0 , 2 );
}

#text_de {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#text_nantes {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#text_tlp{
   -fx-font-size: 10px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#text_n_ecrou {
   -fx-font-size: 10px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#text_duree_reduc {
   -fx-font-size: 10px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#indicator {
   -fx-font-size: 10px;
   -fx-font-family: "Arial Black";
   -fx-fill: #404040;
}

#anchoradd {
    -fx-background-image: url("./IMG/img1ica.jpg");
}

#btn_create {
  -fx-border-radius: 25 0 25 0;
  -fx-background-radius: 25 0 25 0;
}

#btnRead {
  -fx-border-radius: 25 0 25 0;
  -fx-background-radius: 25 0 25 0;
}

#Btnupdate {
  -fx-border-radius: 25 0 25 0;
  -fx-background-radius: 25 0 25 0;
}

#btnDelete {
  -fx-border-radius: 25 0 25 0;
  -fx-background-radius: 25 0 25 0;
}

#barchart {
    -fx-bar-fill: black;
}

.default-color0.chart-bar{
    -fx-bar-fill:blue;
}